tests/buildBasic/
tests/buildPythonSimulator/
openoffload/cpp/tests/bin/**
openoffload/cpp/tests/obj/**
openoffload/cpp/framework/bin/**
openoffload/cpp/framework/obj/**
openoffload/cpp/framework/lib/**
openoffload/cpp/framework/openoffload.grpc.pb.cc
openoffload/cpp/framework/openoffload.grpc.pb.h
openoffload/cpp/framework/openoffload.pb.cc
openoffload/cpp/framework/openoffload.pb.h
openoffload/cpp/framework/src/openoffload.grpc.pb.cc
openoffload/cpp/framework/src/openoffload.grpc.pb.h
openoffload/cpp/framework/src/openoffload.pb.cc
openoffload/cpp/framework/src/openoffload.pb.h
openoffload/cpp/framework/include/openoffload.grpc.pb.h
openoffload/cpp/framework/include/openoffload.pb.h
openoffload/cpp/*.cc
openoffload/cpp/*.h
openoffload/cpp/tests/openoffload.grpc.pb.cc
openoffload/cpp/tests/openoffload.grpc.pb.h
openoffload/cpp/tests/openoffload.pb.cc
openoffload/cpp/tests/openoffload.pb.h
openoffload/cpp/framework/doc/html/**
protos/protos/cpp
protos/protos/golang
protos/protos/python
**/.DS_Store
